* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-title-container,
.header-footer-container {
  padding: 40px;
  text-align: center;
  font-family: 'Arial Black', sans-serif;
  font-weight: bolder;
  background: #0065df;
}

.card-container {
  position: relative;
  background: #c4c4c4;
  border: 5px solid #c4c4c4;
}

.header-round-info-container,
.header-score-container,
.header-round-container,
.header-status-info-container,
.header-button-container {
  position: relative;
  background: #c4c4c4;
  padding: 10px;
  text-align: center;
}

.play-game {
  border: 2px solid #000;
  border-radius: 45px;
  padding: 10px;
  color: #000;
  background: #c4c4c4;
}

.card {
  position: relative;
  background: #c4c4c4;
  margin: 100px;
}

.card-back {
  transform: rotateY(180deg);
}

.card:hover, .card-inner {
  transform: rotateY(180deg);
}
